<img src="http://sonetodigital.com.br/adm/wp-content/uploads/2018/12/logo-fiap.png" width="150" align="left"/>

<br/><br/>

<font size=5 color="#ed145b"><b> Sistemas para internet </b></font><font size=5 color="#ed145b"> - Inteligência Artificial e Machine Learning </font>

<font size=4 color="#ed145b"> Profa. Thais Rodrigues Neubauer - profthais.neubauer@fiap.com.br</font>

<font size=5 ><b>Aula 01</b></font>

## Introdução a Python

Abra o nosso repositório no [Binder](https://mybinder.org/v2/gh/thaisneubauer/FIAP-3ECA-IA/master)

In [2]:
import pandas as pd
import numpy as np

In [2]:
pip install pandas
pip install sklearn

Collecting pandas
  Downloading pandas-1.1.1-cp37-cp37m-manylinux1_x86_64.whl (10.5 MB)
     |████████████████████████████████| 10.5 MB 4.4 MB/s eta 0:00:01    |███▏                            | 1.0 MB 4.4 MB/s eta 0:00:03     |█████████████████████████████   | 9.5 MB 4.4 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.7.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2.8.1)
Collecting pytz>=2017.2
  Downloading pytz-2020.1-py2.py3-none-any.whl (510 kB)
     |████████████████████████████████| 510 kB 39.4 MB/s eta 0:00:01
Collecting numpy>=1.15.4
  Downloading numpy-1.19.1-cp37-cp37m-manylinux2010_x86_64.whl (14.5 MB)
     |████████████████████████████████| 14.5 MB 54.7 MB/s eta 0:00:01    |████████                        | 3.6 MB 54.7 MB/s eta 0:00:01     |███████████████████████████████▊| 14.4 MB 54.7 MB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.19.1 pandas-1.1.1 pytz-2020.1
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install numpy

Requirement already satisfied: numpy in /srv/conda/envs/notebook/lib/python3.7/site-packages (1.19.1)
Note: you may need to restart the kernel to use updated packages.

In [42]:
data = pd.read_csv("channels.csv", index_col=0)
data = data.drop(columns=["description","channel_id","location","picture_url","profile_url","title","trailer_url","trailer_title"])

In [43]:
data.head()

             category_name        country  followers   join_date  videos
category_id
24           Entertainment  United States   69896406  2010-04-29    3649
10                   Music          India   69471946  2006-03-13   12820
24           Entertainment            NaN   41858494  2007-01-15     132
26           Howto & Style  United States   40474509  2016-11-15    2350
17                  Sports            NaN   36301947  2007-05-11   37928

In [24]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing

In [51]:
# Dividindo x e y
x = data.drop(columns="followers")

# PS: NUNCA ESQUEÇA DE TIRAR A RESPOSTA DO CONJUNTO DE CARACTERÍSTICAS!!!
y = data['followers']

In [52]:
data

                  category_name        country  followers   join_date  videos
category_id
24                Entertainment  United States   69896406  2010-04-29    3649
10                        Music          India   69471946  2006-03-13   12820
24                Entertainment            NaN   41858494  2007-01-15     132
26                Howto & Style  United States   40474509  2016-11-15    2350
17                       Sports            NaN   36301947  2007-05-11   37928
...                         ...            ...        ...         ...     ...
20                       Gaming            NaN      14762  2015-10-23     142
20                       Gaming            NaN      14762  2016-04-29      77
22               People & Blogs  United States      14762  2015-04-14      17
1            Film and Animation            NaN      14761  2014-03-15     126
24                Entertainment      Australia      14760  2009-10-21     128

[104752 rows x 5 columns]

In [50]:
le = preprocessing.LabelEncoder()
le.fit(data['category_name'])
le.fit(data['country'])
le.fit(data['join_date'])

dt = data
dt['category_name'] = le.transform(data['category_name'])
dt['country'] = le.transform(data['country'])
dt['join_date'] = le.transform(data['join_date'])

dt

TypeError: Encoders require their input to be uniformly strings or numbers. Got ['float', 'str']

In [13]:

# Dividindo dados para treino e dados para teste
x_train, x_test, y_train, y_test = train_test_split(x, y, 
                                                    test_size = 0.3, 
                                                    random_state = 42)

In [14]:
# Treinando o modelo
model = LogisticRegression().fit(x_train, y_train)

ValueError: could not convert string to float: 'Entertainment'

In [ ]:

# Fazendo as predições
y_pred = model.predict(x_test)